

.content-container {
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;

    max-width : none;
    padding   : 96px;

    & > div {
        width: 100%;
        max-width: 540px;
    }
}


.logo { margin-top: 7px; }


.screen {
    padding : 32px;
    
    .screen-text {
        font-size      : 48px;
        letter-spacing : -0.02em;
    }
}


.keypad-container {
    height  : 480px;
    padding : 34px 32px 36px 30px;
}


.keypad {
    grid-template-columns: repeat(4, 101px);
    grid-column-gap: 25px;
    grid-row-gap: 28px;
}


.key {
    border-radius: 10px;

    .key-text {
        font-size: 32px;
    }
}


.key.key-control,
.key.key-equals {
    .key-text {
        margin: 8px 0px 0px 1px;
        font-size: 20px;
        letter-spacing: -0.02em;;
    }
}