// Theme Variables

$main-background        : (hsl(222, 26%, 31%), hsl(0, 0%, 90%), hsl(268, 75%,  9%));
$toggle-background      : (hsl(223, 31%, 20%), hsl(0, 5%, 81%), hsl(268, 71%, 12%));
$keypad-background      : (hsl(223, 31%, 20%), hsl(0, 5%, 81%), hsl(268, 71%, 12%));
$screen-background      : (hsl(224, 36%, 15%), hsl(0, 0%, 93%), hsl(268, 71%, 12%));

$key-background         : (hsl( 30, 25%, 89%), hsl( 45,  7%, 89%), hsl(268, 47%, 21%));
$key-shadow             : (hsl( 28, 16%, 65%), hsl( 35, 11%, 61%), hsl(290, 70%, 36%));
$key-text               : (hsl(221, 14%, 31%), hsl(221, 14%, 31%), hsl(52, 100%, 62%));

$control-key-background : (hsl(225, 21%,  49%), hsl(185, 42%,  37%), hsl(281, 89%,  26%));
$control-key-shadow     : (hsl(224, 28%,  35%), hsl(185, 58%,  25%), hsl(285, 91%,  52%));
$control-key-text       : (hsl(  0,   0, 100%), hsl(  0,   0, 100%), hsl(  0,   0, 100%));

$equals-key-background  : (hsl(  6, 63%,  50%), hsl( 25, 98%,  40%), hsl(176, 100%, 44%));
$equals-key-shadow      : (hsl(  6, 70%,  34%), hsl( 25, 99%,  27%), hsl(177, 92%,  70%));
$equals-key-text        : (hsl(  0,   0, 100%), hsl(  0,   0, 100%), hsl(221, 14%,  31%));

$toggle                 : (hsl(  6, 63%,  50%), hsl( 25, 98%, 40%), hsl(176, 100%, 44%));
$text                   : (hsl(  0,   0, 100%), hsl( 60, 10%, 19%), hsl( 52, 100%, 62%));




@for $i from 1 through 3 {
    body.theme-#{$i} {
        background-color : nth($main-background, $i);
        color            : nth($text,            $i);
    
    
        .toggle__slider { background: nth($toggle-background, $i); }
        // Slider-thumb (Chrome, Opera, Safari, Edge):
        .toggle__slider::-webkit-slider-thumb { background: nth($toggle, $i); }
        // Slider-thumb (Firefox):
        .toggle__slider::-moz-range-thumb { background: nth($toggle, $i); }
    
    
        .screen { background-color : nth($screen-background, $i) ; }
    
    
        .keypad-container { background-color : nth($keypad-background, $i) ; }
    
    
        .key {
            background-color : nth($key-background, $i) ;
            color            : nth($key-text,       $i) ;
            
            box-shadow       : 0px 4px 0px 0px nth($key-shadow, $i) ;
        }
    
    
        .key.key-control {
            background-color : nth($control-key-background, $i) ;
            color            : nth($control-key-text,       $i) ;
            
            box-shadow       : 0px 4px 0px 0px nth($control-key-shadow, $i) ;
        }
    
    
        .key.key-equals {
            background-color : nth($equals-key-background, $i) ;
            color            : nth($equals-key-text,       $i) ;
            
            box-shadow       : 0px 4px 0px 0px nth($equals-key-shadow, $i) ;
        }   
    }
}