@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");
body.theme-1 {
  background-color: #3a4764;
  color: white;
}

body.theme-1 .toggle__slider {
  background: #232c43;
}

body.theme-1 .toggle__slider::-webkit-slider-thumb {
  background: #d03f2f;
}

body.theme-1 .toggle__slider::-moz-range-thumb {
  background: #d03f2f;
}

body.theme-1 .screen {
  background-color: #182034;
}

body.theme-1 .keypad-container {
  background-color: #232c43;
}

body.theme-1 .key {
  background-color: #eae3dc;
  color: #444b5a;
  -webkit-box-shadow: 0px 4px 0px 0px #b4a597;
          box-shadow: 0px 4px 0px 0px #b4a597;
}

body.theme-1 .key.key-control {
  background-color: #637097;
  color: white;
  -webkit-box-shadow: 0px 4px 0px 0px #404e72;
          box-shadow: 0px 4px 0px 0px #404e72;
}

body.theme-1 .key.key-equals {
  background-color: #d03f2f;
  color: white;
  -webkit-box-shadow: 0px 4px 0px 0px #93261a;
          box-shadow: 0px 4px 0px 0px #93261a;
}

body.theme-2 {
  background-color: #e6e6e6;
  color: #35352c;
}

body.theme-2 .toggle__slider {
  background: #d1cccc;
}

body.theme-2 .toggle__slider::-webkit-slider-thumb {
  background: #ca5502;
}

body.theme-2 .toggle__slider::-moz-range-thumb {
  background: #ca5502;
}

body.theme-2 .screen {
  background-color: #ededed;
}

body.theme-2 .keypad-container {
  background-color: #d1cccc;
}

body.theme-2 .key {
  background-color: #e5e4e1;
  color: #444b5a;
  -webkit-box-shadow: 0px 4px 0px 0px #a69d91;
          box-shadow: 0px 4px 0px 0px #a69d91;
}

body.theme-2 .key.key-control {
  background-color: #377f86;
  color: white;
  -webkit-box-shadow: 0px 4px 0px 0px #1b5f65;
          box-shadow: 0px 4px 0px 0px #1b5f65;
}

body.theme-2 .key.key-equals {
  background-color: #ca5502;
  color: white;
  -webkit-box-shadow: 0px 4px 0px 0px #893901;
          box-shadow: 0px 4px 0px 0px #893901;
}

body.theme-3 {
  background-color: #160628;
  color: #ffe53d;
}

body.theme-3 .toggle__slider {
  background: #1d0934;
}

body.theme-3 .toggle__slider::-webkit-slider-thumb {
  background: #00e0d1;
}

body.theme-3 .toggle__slider::-moz-range-thumb {
  background: #00e0d1;
}

body.theme-3 .screen {
  background-color: #1d0934;
}

body.theme-3 .keypad-container {
  background-color: #1d0934;
}

body.theme-3 .key {
  background-color: #341c4f;
  color: #ffe53d;
  -webkit-box-shadow: 0px 4px 0px 0px #871c9c;
          box-shadow: 0px 4px 0px 0px #871c9c;
}

body.theme-3 .key.key-control {
  background-color: #58077d;
  color: white;
  -webkit-box-shadow: 0px 4px 0px 0px #bc15f4;
          box-shadow: 0px 4px 0px 0px #bc15f4;
}

body.theme-3 .key.key-equals {
  background-color: #00e0d1;
  color: #444b5a;
  -webkit-box-shadow: 0px 4px 0px 0px #6cf9f2;
          box-shadow: 0px 4px 0px 0px #6cf9f2;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
}

.content-container {
  padding: 28px 24px;
  max-width: 375px;
}

.labels-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-size: 32px;
  letter-spacing: -0.02em;
}

.theme-label {
  margin: auto 22px 4px auto;
  font-size: 12px;
  letter-spacing: 0.08em;
}

/* -------------------------------- <toggle> -------------------------------- */
.toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 71px;
}

.toggle__labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0px 13px;
  font-size: 12px;
}

.toggle__labels .label-1 {
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.toggle__labels .label-3 {
  -webkit-transform: translate(50%);
          transform: translate(50%);
}

.toggle__labels .label-2 {
  margin-left: 13px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.toggle__slider {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  outline: none;
  width: 100%;
  padding: 4px;
  margin-top: 4px;
  border-radius: 15px;
  cursor: pointer;
}

/* Slider-thumb (Chrome, Opera, Safari, Edge) */
.toggle__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 15px;
}

/* Slider-thumb (Firefox) */
.toggle__slider::-moz-range-thumb {
  border: none;
  width: 18px;
  height: 18px;
  cursor: pointer;
  border-radius: 15px;
}

/* ------------------------------- <toggle /> ------------------------------- */
.screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
  padding: 24px;
  border-radius: 10px;
}

.screen .screen-text {
  font-size: 32px;
  letter-spacing: -0.015em;
  line-height: 1.25;
}

.keypad-container {
  margin-top: 24px;
  height: 420px;
  border-radius: 10px;
  padding: 24px 24px 28px;
}

/* -------------------------------- <keypad> -------------------------------- */
.keypad {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (60px)[4];
      grid-template-columns: repeat(4, 60px);
  -ms-grid-rows: (60px)[5];
      grid-template-rows: repeat(5, 60px);
  grid-column-gap: 13px;
  grid-row-gap: 17px;
}

.key {
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.key:active {
  -webkit-transform: translateY(2px) scale(0.95);
          transform: translateY(2px) scale(0.95);
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.key .key-text {
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
  font-size: 28px;
  margin-top: 6px;
}

.key.key-long {
  grid-column: span 2;
}

.key.key-control .key-text,
.key.key-equals .key-text {
  margin-top: 2px;
  margin-right: 1px;
  font-size: 17px;
  letter-spacing: -0.06em;
}

/* ------------------------------- <keypad /> ------------------------------- */
@media screen and (min-width: 600px) {
  .content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: none;
    padding: 96px;
  }
  .content-container > div {
    width: 100%;
    max-width: 540px;
  }
  .logo {
    margin-top: 7px;
  }
  .screen {
    padding: 32px;
  }
  .screen .screen-text {
    font-size: 48px;
    letter-spacing: -0.02em;
  }
  .keypad-container {
    height: 480px;
    padding: 34px 32px 36px 30px;
  }
  .keypad {
    -ms-grid-columns: (101px)[4];
        grid-template-columns: repeat(4, 101px);
    grid-column-gap: 25px;
    grid-row-gap: 28px;
  }
  .key {
    border-radius: 10px;
  }
  .key .key-text {
    font-size: 32px;
  }
  .key.key-control .key-text,
  .key.key-equals .key-text {
    margin: 8px 0px 0px 1px;
    font-size: 20px;
    letter-spacing: -0.02em;
  }
}
/*# sourceMappingURL=main.css.map */